.shopBody {
    width: 100%;
    display: flex;
    justify-content: center;
}

.shopContent {
    display: flex;
    flex-direction: row;
    max-width: 1520px;
    align-items: center;
    justify-content: center;
    
    .container {
        width: 100%;
    }
}