.shopContainer {
    min-height: 300px;
    width: 70%;
    padding-top: 70px;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .itemsContainer {
            display: flex;
            max-width: 100%;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .productCard {
                display: flex;
                flex-direction: column;
                min-width: 300px;
                width: 30%;
                border: 1px solid lightgrey;
                margin: 10px;
                border-radius: 10px;
                overflow: hidden;

                .productImage {
                    // background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    height: 150px;

                    .thumbnail {
                        width: 100%;

                    }


                }
            }
        }

        .navigationContainer {
            display: flex;
            flex-direction: row;
            height: 40px;
            padding: 50px 0;

            .pagesDisplay {
                display: flex;
                
                align-items: center;
                border: 1px solid lightgrey;
                border-radius: 2px;
                height: 40px;
               padding: 0 20px;
                margin: 0.5px;

                &:hover {
                    background-color: #1d232d;
                    color: white;
                    cursor: pointer
                }
            }

            .arrowButton {
                border: none;
                border-radius: 2px;
                height: 40px;
                width: 40px;
                background-color: #FF8E0D;
                color: white;
                margin: 0.5px;
                &:hover {
                    background-color: #1d232d;
                    color: white;
                    cursor: pointer
                }
            }
            .active {
                color: red;
            }

        }
    }

    .loaderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

    }
}