.shopContainer {
    min-height: 300px;
    width: 70%;
    padding-top: 70px;

    .itemsContainer{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .loaderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}