.bodyContainer {
    min-height: 300px;
    width: 70%;
    padding-top: 70px;

    .content {
        display: flex;
        flex-direction: row;

        .itemsContainer {
            display: flex;
            max-width: 100%;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .productCard {
                display: flex;
                flex-direction: column;
                min-width: 300px;
                width: 30%;
                border: 1px solid lightgrey;
                margin: 10px;
                border-radius: 10px;
                overflow: hidden;

                .productImage {
                    // background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    height: 150px;

                    .thumbnail {
                        width: 100%;

                    }


                }
            }
        }
    }

    .loaderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

    }
}