.addsContainer {
    position: fixed;
    right: 5px;
    top: 80px;
    min-width: 15%;
    max-width: 150px;
    min-height: 88%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
}