.searchComponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid red;
}

.searchInput {
    border: none;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    margin: 0;
}

.searchIcon {
    border: none;
    background-color: #FF8E0D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 40px;

}