.nav {
    display: flex;
    white-space: pre;
    align-items: center;
    width: 20%;

    .navItem {
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;

        .navItemLineOne {
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            line-height: 1.1em
        }

        .navItemLineTwo {
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            line-height: 1.1em;
            font-weight: 800;
        }
    }

    .navItemBasket {
        margin: 0 5px;
        display: flex;
        color: white;
        align-items: center;
        justify-content: flex-start;
        text-align: left;

        .navItemLineOne {
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            line-height: 1.1em;
            color: #FF8E0D;
        }

        .navItemLineTwo {
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            line-height: 1.1em;
            padding: 0 5px;
            font-weight: 800;
        }
    }
}