.bodyContainer {
    min-height: 300px;
    width: 70%;

    .itemContainer {
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;


        .productCard {
            display: flex;
            flex-direction: column;
            width: 30%;
            border: 1px solid black;
            margin: 10px;
            border-radius: 10px;
            overflow: hidden;


            .productImage {
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                height: 150px;

                .thumbnail {
                    width: 100%;


                }
            }
        }
    }

    .loaderContainer {
        border: 3px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}